body {
  text-align: center;
  border: 0px solid green;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: crimson;
  font-size: 7em;
  border: 0px solid red;
  margin: auto;
  text-align: center;
}

#input_item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;

  width: 400px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

#to_do_list {
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  width: 400px;
  padding: 10px;
  text-align: center;
  margin: auto;
  box-shadow: 5px 5px 30px grey;
}

.item {
  border-radius: 5px;
  box-shadow: 5px 5px 30px grey;
  margin: 10px;
  font-size: 1.5em;
  padding: 10px;
  height: 30px;
  width: 90%;
  border: 0px solid blue;
}

.item:hover {
  box=shadow: 6px 6px 40px grey;
}

.cross {
  padding: 5px;
  background-color: white;
  border: 1px solid oldlace;
  box-shadow: 1px 1px 5px red;
  color: firebrick;
  border-radius: 5px;
}

.cross:hover {
  box-shadow: 2px 2px 20px red;
}

.unTicked {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-left: 5px;
  border: 3px solid forestgreen;
  border-radius: 5px;
}

.unTicked:hover,
.ticked:hover {
  box-shadow: 2px 2px 20px forestgreen;
}

.ticked {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-left: 5px;
  border: 3px solid forestgreen;
  border-radius: 5px;
  background-color: forestgreen;
}

#options {
  width: 400px;
  height: 30px;
  margin: auto;
  padding: 10px;

  box-shadow: 1px 1px 5px grey;
  background-color: white;
}

#options button {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid gold;
  border-radius: 10px;
  box-shadow: 2px 2px 6px gold;
}

#options button:hover {
  box-shadow: 2px 2px 20px gold;
}

#options .active,
#options .active:hover {
  box-shadow: 2px 2px 20px crimson;
}

#tasks_left {
  color: crimson;
  float: left;
  margin: 6px;
}

button:focus,
.unTicked:focus,
.ticked:focus {
  outline: 0;
}